<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel | Bootstrap blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <!-- Owl Carousel -->
<!--    <link rel="stylesheet" href="vendor/owl.carousel2/assets/owl.carousel.min.css">-->
<!--    <link rel="stylesheet" href="vendor/owl.carousel2/assets/owl.theme.default.min.css">-->
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">

      <style>
          .media-body h3 {
              /* 阻止内容换行 */
              white-space: nowrap;
              /* 隐藏溢出的内容 */
              overflow: hidden;
              /* 使用省略号表示被截断的内容 */
              text-overflow: ellipsis;
              /* 其他样式，如行高、字体大小等 */
              line-height: 1.2; /* 根据需要调整 */
              font-size: 18px; /* 根据需要调整 */
              /* 如果需要的话，可以添加一些内边距或外边距 */
              padding-bottom: 10px;
          }
      </style>
  </head>

  <body>
    <!-- Header-->
    <header class="header">
      <!-- Top bar -->
      <div class="py-2 bg-dark text-white">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <ul class="list-inline mb-0 text-sm">
                <li class="list-inline-item"><a class="reset-anchor" href="#!">首页</a></li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item"><a class="reset-anchor" href="#!">目的地</a></li>
              </ul>
            </div>
            <div class="col-lg-4 d-none d-lg-block text-end" style="margin-left: auto;">
              <div class="dropdown text-sm"><a class="reset-anchor dropdown-toggle" id="destinations" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-americas me-2"></i>个人中心</a>
                <div class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="destinations"><a class="dropdown-item text-sm" href="#!">登录</a><a class="dropdown-item text-sm" href="#!">注册</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Navbar 2 -->
      <nav class="navbar navbar-expand-lg navbar-light border-gray py-2 bg-light">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right mx-auto border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item px-1">
                <!-- Link--><a class="nav-link active" href="index.html">景点</a>
              </li>
              <li class="nav-item px-1">
                <!-- Link--><a class="nav-link" href="listing.html">酒店</a>
              </li>
              <li class="nav-item px-1">
                <!-- Link--><a class="nav-link" href="listing.html">交通</a>
              </li>
<!--              <li class="nav-item px-1">-->
<!--                &lt;!&ndash; Link&ndash;&gt;<a class="nav-link" href="post.html">用户评价</a>-->
<!--              </li>-->
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Destinations -->
    <section class="pt-5">
      <div class="container" style="text-align: center">
        <h1>景点推荐</h1>
      </div>
      <div class="swiper destinations-slider swiper-padding">
        <div class="swiper-wrapper">
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/templeDragon.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">龙母庙</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/shibiao.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">石表山</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/yongan.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">永安王城</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/liangyusheng.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">梁羽生公园</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/gardenexpo.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">梧州园博园</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/denontunpu.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">天龙顶山地公园</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/arcadecity.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">骑楼城</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/templeDragon.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">龙母庙</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/shibiao.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">时表山</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/yongan.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">永安王城</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
          <div class="swiper-slide h-auto"><a class="destination d-flex align-items-end bg-center bg-cover" href="post.html" style="background: url(img/liangyusheng.jpg)">
              <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                <h2 class="h3 mb-4">梁羽生公园</h2>
                <div class="btn btn-primary w-100 destination-btn text-white">发现</div>
              </div></a></div>
        </div>
        <div class="swiper-button-prev swiper-custom-nav text-uppercase letter-spacing-0">
          <svg class="svg-icon svg-icon me-1">
            <use xlink:href="#arrow-left-1"> </use>
          </svg><span class="text-sm">上一页</span>
        </div>
        <div class="swiper-button-next swiper-custom-nav text-uppercase letter-spacing-0"><span class="text-sm">下一页</span>
          <svg class="svg-icon svg-icon ms-1">
            <use xlink:href="#arrow-right-1"> </use>
          </svg>
        </div>
      </div>
    </section>
    <!-- Divider Section -->
    <section class="py-5">
      <div class="container py-4">
        <!-- Home listing -->
        <div class="row align-items-stretch gx-lg-0">
          <div class="col-lg-6 order-2 order-lg-1 bg-full-left">
            <div class="h-100 bg-light d-flex align-items-center">
              <div class="py-5 px-4">
                <p class="text-primary font-weight-bold small text-uppercase mb-2">热门体验</p>
                <h3 class="h4"> <a class="text-reset">地图</a></h3>
                <div class="text-muted">
                    <p>园内林木苍翠，绿茵整齐，曲径通幽，各种景物浑然一体</p>
                    <p>
                        丹山、碧水、沙滩、翠竹、村落组合完美的地方
                        这里还包含景点： 道家沙滩公园 古井景区 道家村 石龙大峡谷 思罗河漂流</p>
                </div>
                <ul class="list-inline small text-uppercase mb-0">
                  <li class="list-inline-item align-middle"><img class="rounded-circle shadow-sm" src="img/person-1.jpg" alt="" width="30"/></li>
                  <li class="list-inline-item me-0 text-gray align-middle"></li>
                  <li class="list-inline-item align-middle me-0"><a class="fw-bold reset-anchor" href="#!">这里还包含景点： 中山纪念堂</a></li>
                  <li class="list-inline-item text-gray align-middle me-0">|</li>
                  <li class="list-inline-item text-gray align-middle">2024.6.1</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-6 order-1 order-lg-2">
              <div id="qqmap" style="width: 100%; height: 400px;"></div> <!-- 修改ID为"container"，并添加宽度和高度样式 -->
          </div>
        </div>
      </div>
    </section>
    <!-- Instagram section-->
    <section class="pb-5">
      <div class="container pb-4">
        <header class="text-center mb-5">
          <h2>寻觅梧州踪迹</h2>
<!--          <p>A place for your Instagram pictures or gallery.</p>-->
        </header>
        <div class="row">
          <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/liangyusheng.jpg" alt="">
              <div class="instagram-item-overlay p-5">
                <h6>梁羽生公园位于广西梧州市蒙山县。国家4A旅游景区。该地原名鳌山公园，因形似巨鳌而得名，始建于1762年，一代武侠小说大师梁羽生少年时代曾常在此处游玩。</h6>
              </div></a></div>
          <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/templeDragon.jpg" alt="">
              <div class="instagram-item-overlay p-5">
                <h6>龙母庙位于广西梧州市万秀区。国家4A旅游景区”梧州骑楼城—龙母庙景区”的核心景点。据中国当代著名国学家、文化学者肖健介绍</h6>
              </div></a></div>
          <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/arcadecity.jpg" alt="">
              <div class="instagram-item-overlay p-5">
                <h6>骑楼城位于广西梧州市万秀区。国家4A旅游景区”梧州骑楼城—龙母庙景区”的核心景点。现存骑楼街道22条，总长7公里，最长街道达2530米，骑楼建筑560幢，规模之大、数量之多，国内罕见，被誉为”世界第八奇迹”。</h6>
              </div></a></div>
          <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/gardenexpo.jpg" alt="">
              <div class="instagram-item-overlay p-5">
                <h6>梧州园博园位于广西梧州市龙圩区。国家4A旅游景区”梧州苍海旅游区”的主要景区之一。</h6>
              </div></a></div>
          <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/denontunpu.jpg" alt="">
              <div class="instagram-item-overlay p-5">
                <h6>梧州园博园位于广西梧州市龙圩区。国家4A旅游景区”梧州苍海旅游区”的主要景区之一。</h6>
              </div></a></div>
          <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/yongan.jpg" alt="">
              <div class="instagram-item-overlay p-5">
                <h6>永安王城位于广西梧州市蒙山县。国家4A旅游景区。蒙山是天朝封王地，秀美长寿乡，是一个旅游度假养生的好地方。蒙山蕴含丰富的历史文化底蕴、自然风景秀丽、人文风情浓厚</h6>
              </div></a></div>
          <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/shibiao.jpg" alt="">
              <div class="instagram-item-overlay p-5">
                <h6>石表山休闲旅游风景区位于广西梧州市藤县境内。国家4A旅游景区。景区地处珠三角经济圈和北部湾经济圈的交汇点，交通极为便利。</h6>
              </div></a></div>
          <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/watertown.jpg" alt="">
              <div class="instagram-item-overlay p-5">
                <h6>天龙顶山地公园位于广西梧州市岑溪市。为国家4A旅游景区，是中国第一个全时度假山地户外休闲景区。</h6>
              </div></a></div>
        </div>
      </div>
    </section>

    <section class="py-5">
        <div class="container py-4" style="display: flex;justify-content: space-between;">
            <div style="width: 320px">
                <div style="display: flex;justify-content: space-between;">
                    <span><h3 class="h5">旅游攻略推荐</h3></span>
                    <span style="color: #5c636a">更多</span>
                </div>
                <div>
                    <img class="img-fluid" src="img/liangyusheng.jpg" alt="">
                </div>
                <h4 class="h5" style="margin-top: 20px">最新资讯</h4>
                <ul class="list-unstyled">
                    <li class="d-flex mb-1" style="overflow: hidden;">
                            <p>02月19日科技"战密”∶马蜂窝大数据赋能旅游业</p>
                    </li>
                    <li class="d-flex mb-1">
                            <p>02月13日陈罡:控情下旅游业的“守恒与求变</p>
                    </li>
                    <li class="d-flex mb-1">
                            <p>02月06日马蜂窝将退订完成率定为最高KPI</p>
                    </li>
                </ul>
            </div>
            <div style="width: 775px; margin-left: auto;">
                <h3 class="h5">热门推荐</h3>
                <ul class="list-unstyled">
                    <li class="d-flex mb-1" style="padding-bottom: 10px" th:each="post : ${pageInfo.list}">
                        <a href="post.html"><img th:src="${post.imageUrl}" th:width="200" th:height="150" alt=""></a>
                        <div class="media-body ms-3">
                            <h3 class="mb-1" style="padding-bottom: 10px;"><a class="reset-anchor" th:href="@{/post/{id}(id=${post.id})}"
                                                th:text="${post.noticeTitle}"></a></h3>
                            <div class="text-muted" ><p th:text="${post.noticeContent}"></p></div>
                        </div>
                    </li>
                </ul>
                <nav aria-label="Page navigation example" style="display: flex; justify-content: flex-end;">
                    <ul class="pagination">
                        <!-- 上一页链接 -->
                        <li class="page-item" th:classappend="${pageInfo.hasPreviousPage} ? 'page-item' : 'page-item disabled'">
                            <a class="page-link" th:href="@{/spots(currentPage=${pageInfo.prePage},pageSize=${10})}"
                               th:if="${pageInfo.hasPreviousPage}" href="#">上一页</a>
                            <span class="page-link" th:unless="${pageInfo.hasPreviousPage}">上一页</span>
                        </li>
                        <!-- 页码链接 -->
                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(pageInfo.navigateFirstPage, pageInfo.navigateLastPage)}"
                            th:classappend="${pageNum == pageInfo.pageNum} ? 'active' : ''">
                            <a class="page-link" th:href="@{/spots(currentPage=${pageNum},pageSize=${10})}"
                               th:text="${pageNum}"></a>
                        </li>
                        <!-- 下一页链接 -->
                        <li class="page-item" th:classappend="${pageInfo.hasNextPage} ? 'page-item' : 'page-item disabled'">
                            <a class="page-link" th:href="@{/spots(currentPage=${pageInfo.nextPage},pageSize=${10})}"
                               th:if="${pageInfo.hasNextPage}" href="#">下一页</a>
                            <span class="page-link" th:unless="${pageInfo.hasNextPage}">下一页</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section class="py-5">
      <div class="container py-4">
        <div class="row align-items-center">
          <div class="col-lg-6 position-relative py-4"><img class="subscribe-img" src="img/subscribe-img-1.jpg" alt=""><img class="subscribe-img" src="img/subscribe-img-2.jpg" alt=""></div>
          <div class="col-lg-6">
            <h2>联系我们</h2>
            <p class="text-muted mb-5">尊敬的用户，

                感谢您对我们的信任与支持！我们深知，用户的满意是我们不断前进的动力。您的反馈和建议是我们提升服务质量的重要依据，也是我们不断进步的源泉。

                在此，我们特别感谢您在使用我们产品过程中给予的宝贵意见和耐心。正是有了您的理解与支持，我们才能不断优化和改进，以提供更好的服务体验。

                如果您在使用过程中有任何疑问或需要进一步的帮助，请随时与我们联系。我们将竭诚为您服务，确保您的问题得到及时解决。

                再次感谢您的信任和支持！

                祝您生活愉快，工作顺利！</p>
            <form action="#">
              <div class="row gy-3 gy-lg-0">
                <div class="col-lg-8">
                  <input class="form-control" type="email" name="email" placeholder="输入你的建议">
                </div>
                <div class="col-lg-4">
                  <button class="btn btn-dark btn-block" type="submit">发送</button>
                </div>
              </div>
            </form>
          </div>F
        </div>
      </div>
    </section>
    <section class="pb-5">
        <div class="container pb-4">
            <header class="text-center mb-5">
                <h2>更多旅游景点</h2>
<!--                <p>热门景点</p>-->
            </header>
            <div class="row">
                <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/listing-tnumbnail-1.jpg" alt="">
                    <div class="instagram-item-overlay p-5">
                        <h6>We travel not to escape life, but for life not to escape us.</h6>
                    </div></a></div>
                <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/listing-tnumbnail-2.jpg" alt="">
                    <div class="instagram-item-overlay p-5">
                        <h6>We travel not to escape life, but for life not to escape us.</h6>
                    </div></a></div>
                <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/listing-tnumbnail-3.jpg" alt="">
                    <div class="instagram-item-overlay p-5">
                        <h6>We travel not to escape life, but for life not to escape us.</h6>
                    </div></a></div>
                <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/listing-tnumbnail-4.jpg" alt="">
                    <div class="instagram-item-overlay p-5">
                        <h6>We travel not to escape life, but for life not to escape us.</h6>
                    </div></a></div>
                <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/listing-tnumbnail-5.jpg" alt="">
                    <div class="instagram-item-overlay p-5">
                        <h6>We travel not to escape life, but for life not to escape us.</h6>
                    </div></a></div>
                <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/listing-tnumbnail-6.jpg" alt="">
                    <div class="instagram-item-overlay p-5">
                        <h6>We travel not to escape life, but for life not to escape us.</h6>
                    </div></a></div>
                <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/listing-tnumbnail-1.jpg" alt="">
                    <div class="instagram-item-overlay p-5">
                        <h6>We travel not to escape life, but for life not to escape us.</h6>
                    </div></a></div>
                <div class="col-lg-3 col-md-6 px-md-1 py-1"><a class="instagram-item d-block w-100 reset-anchor text-white" href="#!"><img class="img-fluid" src="img/listing-tnumbnail-2.jpg" alt="">
                    <div class="instagram-item-overlay p-5">
                        <h6>We travel not to escape life, but for life not to escape us.</h6>
                    </div></a></div>
            </div>
        </div>
    </section>
    <footer class="bg-dark py-4">
      <div class="container">
        <div class="row py-2 gy-2">

        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="js/front.js"></script>
    <script charset="utf-8" src="https://map.qq.com/api/gljs?v=1.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        initMap();
      });
      function initMap() {
        var center = new TMap.LatLng(23.504264,111.316155);
        //初始化地图
        var map = new TMap.Map("qqmap", {
          rotation: 20,//设置地图旋转角度
          pitch:30, //设置俯仰角度（0~45）
          zoom:12,//设置地图缩放级别
          center: center//设置地图中心点坐标
        });

        //初始marker
        var marker = new TMap.MultiMarker({
          id: 'marker-layer',
          map: map,
          styles: {
            "marker": new TMap.MarkerStyle({
              "width": 24,
              "height": 35,
              "anchor": { x: 12, y: 35 },
              "src": 'https://mapapi.qq.com/web/lbs/javascriptGL/demo/img/markerDefault.png'
            })
          },
          geometries: [{
            "id": 'demo1',
            "styleId": 'marker',
            "position": new TMap.LatLng(23.504264,111.316155),
            "properties": {
              "title": "marker"
            }
          },
          ]
        });

        //初始化infoWindow
        var infoWindow = new TMap.InfoWindow({
          map: map,
          position: new TMap.LatLng(23.504264,111.316155),
          // content: "<div><img src='https://mapapi.qq.com/web/lbs/javascriptGL/demo/img/em.jpg'><p>Hello World!</p></div>"
          offset: { x: 0, y: -32 } //设置信息窗相对position偏移像素
        });
        infoWindow.close();//初始关闭信息窗关闭
        //监听标注点击事件
        marker.on("click", function (evt) {
          //设置infoWindow
          infoWindow.open(); //打开信息窗
          // infoWindow.setPosition(evt.geometry.position);//设置信息窗位置
          infoWindow.setContent(evt.geometry.content);//设置信息窗内容
        })
      }

      function injectSvgSprite(path) {

          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      injectSvgSprite('icons/orion-svg-sprite.svg');

    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>
