<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Travel | Bootstrap blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="vendor/owl.carousel2/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/owl.carousel2/assets/owl.theme.default.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>
  <body>
  <header class="header">
    <!-- Top bar -->
    <div class="py-2 bg-dark text-white">
      <div class="container py-1">
        <div class="row align-items-center">
          <div class="col-lg-4">
            <ul class="list-inline mb-0 text-sm">
              <li class="list-inline-item"><a class="reset-anchor" href="#!">首页</a></li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!">目的地</a></li>
            </ul>
          </div>
          <div class="col-lg-4 d-none d-lg-block text-end" style="margin-left: auto;">
            <div class="dropdown text-sm"><a class="reset-anchor dropdown-toggle" id="destinations" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-americas me-2"></i>个人中心</a>
              <div class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="destinations"><a class="dropdown-item text-sm" href="#!">登录</a><a class="dropdown-item text-sm" href="#!">注册</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Navbar 2 -->
    <nav class="navbar navbar-expand-lg navbar-light border-gray py-2 bg-light">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right mx-auto border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-1">
              <!-- Link--><a class="nav-link active" href="index.html">景点</a>
            </li>
            <li class="nav-item px-1">
              <!-- Link--><a class="nav-link" href="listing.html">酒店</a>
            </li>
            <li class="nav-item px-1">
              <!-- Link--><a class="nav-link" href="listing.html">交通</a>
            </li>
<!--            <li class="nav-item px-1">-->
<!--              &lt;!&ndash; Link&ndash;&gt;<a class="nav-link" href="post.html">用户评价</a>-->
<!--            </li>-->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="pt-5">
    <div class="container" style="text-align: center">
      <h1>酒店预定</h1>
    </div>
  </section>
    <!-- Hero section -->
    <section class="hero bg-center bg-cover" style="background: url(img/huatian.jpg)">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1>华天大酒店</h1>
            <p>广西壮族自治区 梧州市 新兴二路116号  +86 774 398 9600 </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog listing -->
    <section class="pt-5">
      <div class="container pt-5">
        <div class="row mb-5">
          <div class="col-lg-8">

<!--            <div class="row text-center" th:each="article : ${pageInfo.list}">-->
<!--              &lt;!&ndash; 假设每行只显示一个文章，则不需要额外的col-lg-6包装 &ndash;&gt;-->
<!--&lt;!&ndash;              <div class="col-lg-6 mb-5" th:if="${pageInfo.listStat.size} % 2 != 0 || ${#lists.currentIndex} % 2 == 0">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="col-lg-6 mb-5" th:class="${#lists.size(pageInfo.list) > 1} ? 'col-lg-4' : 'col-lg-6'">&ndash;&gt;-->
<!--              <div class="col-lg-6 mb-5">-->
<!--                <a href="post.html" target="_blank">-->
<!--                  <img class="img-fluid mb-4" th:src="${article.imageUrl}" alt="" />-->
<!--                </a>-->
<!--                <h3 class="h4 mt-2">-->
<!--                  <a class="reset-anchor" href="post.html" th:text="${article.hotelName}"></a>-->
<!--                </h3>-->
<!--                <p class="text-small mb-1" th:text="${article.hotelContent}"></p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row text-center" th:each="article : ${pageInfo.list}">-->
<!--              <div class="col-lg-6 mb-5">-->
<!--                <a href="post.html" target="_blank">-->
<!--                  <img class="img-fluid mb-4" th:src="${article.imageUrl}" alt="Article Image" />-->
<!--                </a>-->
<!--                <h3 class="h4 mt-2">-->
<!--                  <a class="reset-anchor" href="post.html" th:text="${article.hotelName}"></a>-->
<!--                </h3>-->
<!--                <p class="text-small mb-1" th:text="${article.hotelContent}"></p>-->
<!--              </div>-->
<!--              <div class="col-lg-6 mb-5">-->
<!--                <a href="post.html" target="_blank">-->
<!--                  <img class="img-fluid mb-4" th:src="${article.imageUrl}" alt="Article Image" />-->
<!--                </a>-->
<!--                <h3 class="h4 mt-2">-->
<!--                  <a class="reset-anchor" href="post.html" th:text="${article.hotelName}"></a>-->
<!--                </h3>-->
<!--                <p class="text-small mb-1" th:text="${article.hotelContent}"></p>-->
<!--              </div>-->
<!--              &lt;!&ndash; 注意：这里通常不需要第二个.col-lg-6，除非您想在同一行显示另一个元素 &ndash;&gt;-->
<!--            </div>-->
            <div th:each="article, iterStat : ${pageInfo.list}" class="row text-center" th:if="${!iterStat.last || iterStat.index % 2 == 0}">
              <!-- 左边：索引为偶数或列表的最后一个元素 -->
              <div class="col-lg-6 mb-5" th:classappend="${iterStat.index+1 % 2 != 0} ? 'order-lg-2' : ''">
                <a th:href="@{/posts/{id}(id=${article.id})}" target="_blank">
                  <img class="img-fluid mb-4" th:src="${article.imageUrl}" alt="Article Image" />
                </a>
                <h3 class="h4 mt-2">
                  <a class="reset-anchor" th:href="@{/posts/{id}(id=${article.id})}" th:text="${article.hotelName}"></a>
                </h3>
                <p class="text-small mb-1" th:text="${article.hotelContent}"></p>
              </div>

              <!-- 右边：仅当索引为奇数时显示 -->
              <div class="col-lg-6 mb-5" th:if="${!iterStat.last && iterStat.index+1 % 2 != 0}">
                <!-- 假设下一个元素存在，因为我们已经通过th:if排除了列表的最后一个元素 -->
                <a th:href="@{/posts/{id}(id=${pageInfo.list[iterStat.index + 1].id})}" target="_blank">
                  <img class="img-fluid mb-4" th:src="${pageInfo.list[iterStat.index + 1].imageUrl}" alt="Article Image" />
                </a>
                <h3 class="h4 mt-2">
                  <a class="reset-anchor" th:href="@{/posts/{id}(id=${pageInfo.list[iterStat.index + 1].id})}" th:text="${pageInfo.list[iterStat.index + 1].hotelName}"></a>
                </h3>
                <p class="text-small mb-1" th:text="${pageInfo.list[iterStat.index + 1].hotelContent}"></p>
              </div>
            </div>
            <!-- Listing navigation -->
            <div class="p-4 bg-light mb-5">
              <div class="row gy-2">
                <div class="col-sm-6 text-center text-sm-start"><a class="btn btn-outline-secondary btn-sm" href="#!"><i class="fas fa-angle-left me-2"></i>上一页</a></div>
                <div class="col-sm-6 text-center text-sm-end"><a class="btn btn-outline-secondary btn-sm" href="#!">下一页<i class="fas fa-angle-right ms-2"></i></a></div>
              </div>
            </div>
          </div>
          <!-- Sidebar -->
          <div class="col-lg-4">

            <div class="mb-5 text-center"><a class="category reset-anchor bg-cover bg-center mb-2" href="#!" style="background: url(img/category-1.jpg)">
                <p class="category-title text-uppercase small">入住获奖酒店</p></a><a class="category reset-anchor bg-cover bg-center mb-2" href="#!" style="background: url(img/category-2.jpg)">
                <p class="category-title text-uppercase small">当季热推</p></a><a class="category reset-anchor bg-cover bg-center" href="#!" style="background: url(img/category-3.jpg)">
                <p class="category-title text-uppercase small">企业商旅</p></a></div>

            <!-- Latest posts widget -->
            <div class="mb-5">
              <div style="display: flex;justify-content: space-between;">
                <span><h3 class="h5">旅游攻略推荐</h3></span>
                <span style="color: #5c636a">更多</span>
              </div>
              <div>
                <img class="img-fluid" src="img/liangyusheng.jpg" alt="">
              </div>
              <h4 class="h5" style="margin-top: 20px">最新资讯</h4>
              <ul class="list-unstyled">
                <li class="d-flex mb-1" style="overflow: hidden;">
                  <p>02月19日科技"战密”∶马蜂窝大数据赋能旅游业等你来</p>
                </li>
                <li class="d-flex mb-1">
                  <p>02月13日陈罡:控情下旅游业的“守恒与求变等着你</p>
                </li>
                <li class="d-flex mb-1">
                  <p>02月06日马蜂窝将退订完成率定为最高KPI</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  <footer class="bg-dark py-4">
    <div class="container">
      <div class="row py-2 gy-2">

      </div>
    </div>
  </footer>
    <!-- JavaScript files-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="js/front.js"></script>
    <script>
      function injectSvgSprite(path) {

          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      injectSvgSprite('icons/orion-svg-sprite.svg');

    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>
