<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dataserver.mapper.HotelMapper">
    <resultMap type="com.example.model.Hotel" id="HotelResult">
        <id     property="id"         column="id"        />
        <result property="hotelName"       column="hotel_name"      />
        <result property="hotelContent"       column="hotel_content"      />
        <result property="imageUrl"       column="image_url"      />
        <result property="hotelScope"       column="hotel_scope"      />
        <result property="hotelLocation"       column="hotel_location"      />
    </resultMap>
    <resultMap type="com.example.model.Review" id="ReviewResult">
        <id     property="id"         column="id"        />
        <result property="content"       column="content"      />
        <result property="reviewTime"       column="review_time"      />
        <result property="reviewType"       column="review_type"      />
        <result property="userName"       column="user_name"      />
        <result property="userAvatar"       column="user_avatar"      />
    </resultMap>
    <select id="getHotel" resultMap="HotelResult">
        select * from scenic_hotel
    </select>

    <select id="getHotelById" resultMap="HotelResult" parameterType="int">
        select * from scenic_hotel where id=#{id}
    </select>

    <select id="getReviewById" resultMap="ReviewResult" parameterType="int">
        select * from scenic_review where relation_id=#{id} and review_type=1
    </select>

    <insert id="saveComment" parameterType="com.example.model.Review">
        insert into scenic_review (content,user_name,review_time,review_type,relation_id,user_avatar)
        values (#{content},#{userName},#{reviewTime},#{reviewType},#{relationId},#{userAvatar});
    </insert>

</mapper>
