<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dataserver.mapper.NoticeManageMapper">
    <resultMap type="com.example.model.Notice" id="NoticeResult">
        <id     property="id"         column="id"        />
        <result property="noticeTitle"       column="notice_title"      />
        <result property="noticeContent"       column="notice_content"      />
        <result property="imageUrl"       column="image_url"      />
    </resultMap>
    <select id="getAllNotice" resultMap="NoticeResult">
        select * from scenic_notice
        <where>
            <if test="noticeTitle != null and noticeTitle !=''">
                AND scenic_notice.notice_title LIKE CONCAT('%',#{noticeTitle},'%')
            </if>
        </where>
    </select>
    <insert id="addNotice" parameterType="com.example.model.Notice">
        insert into scenic_notice (notice_title,notice_content,image_url)
        values (#{noticeTitle},#{noticeContent},#{imageUrl});
    </insert>

    <update id="updateNotice" parameterType="com.example.model.Notice">
        update scenic_hotel
        set hotel_name=#{noticeTitle},
            hotel_content=#{noticeContent},
            image_url=#{imageUrl}
        where id=#{id}
    </update>
</mapper>
